version: "3"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: react-pokedex
    restart: unless-stopped # Restart only on user stopping the container; not on errors
    env_file: .env
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
